*{
  padding: 0;
  margin: 0;
}/*Sets all padding(space inside the element and margin(space inside the element) to 0*/
/*-------------------------------------------------------*/
body{
  background-color: #121212;
  font-family: 'Montserrat', sans-serif;

}
/*-------------------------------------------------------*/
.sidebar { /*sidebar menu  */
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;   /*Remember when setting measurement, it will become fixed*/
  background-color: #000000;
  padding: 25px;
  
}

/*-------------------------------------------------------*/
.sidebar .logo img{/*Changes logo size */
  width: 135px;
}
.sidebar .navigation ul{/*Targets unordered list, space b/w logo and sidebar menus*/
  list-style: none;
  margin-top: 20px;
}
.sidebar .navigation ul li{/*Targets list and add space top/btm & rt/lt*/
  padding: 10px 7px;
}
.sidebar .navigation ul li a{/*Targers all inside <a> and changes according to the code */
  color: #b3b3b3;
  text-decoration: none; /*Removes underline*/
  font-weight: bold;
  font-size: 12px;
}

/*Add font and space between text and icon*/
.sidebar .navigation ul li .fa{
  font-size: 20px;
  margin-right: 10px;
}

/* Below changes color when user hover, click and indicates focus */
.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active,
.sidebar .navigation ul li a:focus{
  color: #ffffff;
}
/* Refers to the class .fa(fontawesome)*/
.sidebar .navigation ul li a:hover .fa,
.sidebar .navigation ul li a:active .fa,
.sidebar .navigation ul li a:focus .fa{
  color: #b3b3b3;
}
/* Then allows the user to interact with the icon by hovering, clicking, and focus
   which changes the color to (color below)*/
.sidebar .navigation ul li a:hover .fa:hover,
.sidebar .navigation ul li a:active .fa:active,
.sidebar .navigation ul li a:focus .fa:focus{
  color: #ffffff;
}
/*-------------------------------------------------------*/

.sidebar .policies{
  position: absolute;
  bottom: 100px;
}
.sidebar .policies ul{
  list-style: none;
}
.sidebar .policies ul li{
  padding-bottom: 5px;
}
.sidebar .policies ul li a{
  color: #b3b3b3;
  font-weight: 500;
  text-decoration: none;
  font-size: 10px;
}

.sidebar .policies ul li a:hover,
.sidebar .policies ul li a:active,
.sidebar .policies ul li a:focus{
  text-decoration: underline;
}
/*-------------------------------------------------------*/

.main-container{
  margin-left: 245px;
  margin-bottom: 100px; 
}

.topbar{
  display: flex;
  justify-content: space-between;
  background-color: #101010;
  padding: 15px 30px;
}

.topbar .prev-next-buttons button{
  color: #7a7a7a;
  cursor: not-allowed;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  font-size: 18px;
  border: 0px;
  background-color: #090909;
  margin-right: 10px;
}

.topbar .navibar{
  display: flex;
  align-items: center;
}

.topbar .navibar ul{
  list-style: none;
}
.topbar .navibar ul li{
  display: inline-block;
  margin: 0px 8px;
  width: 70px; /*Fixed width*/
}
.topbar .navibar ul li a{
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.topbar .navibar ul li a:hover,
.topbar .navibar ul li a:active,
.topbar .navibar ul li a:focus {
  color:#ffffff;
  font-size: 15px;
}

.topbar.navibar ul li.divider{
  color:#ffffff;
  font-size: 26px;
  margin: 0px 20px;
  width: auto;
}

.topbar .navibar button{
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 20px;
}

.topbar .navibar button:hover,
.topbar .navibar button:active,
.topbar .navibar button:focus{
  background-color: #f2f2f2;
}